table {
    width: 100%;
    border-collapse: collapse;
table-layout: fixed;
}

table, th, td {
box-sizing: border-box;
    border : 1px solid black;

    text-align: center;
        vertical-align: middle;
}

/*.prod-info-row {
    height: 100px;

}*/

td, th {
   text-align : center;
   vertical-align : middle;
}

.th-img {
    width:150px;
}

.th-prod-name {
       width: 60%;
}


.td-img {
    width: 150px;
    height: 100px;
    overflow: hidden;
}

.td-img {
height: 100px;
       overflow: hidden;
}

.td-prod-name a{
    text-decoration:none;
    font-size: 20px;
}

.text-success {
    color: #28a745;
    margin-right: 10px;
}

.td-img a {
   width: 100%;
   height: 100%;
   display: block;

   line-height: 0;
   font-size: 0;
}

.prod-img {
    width: 100%;
    height: 100%;
    display:block;
}

.order-summary-box {
    background-color: #f8f9fa;
    border: 1px solid #e9ecef;
    border-radius: 10px;
    padding: 30px;
    /* margin: 0 auto; */
    max-width: 700px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
}

.container {
    max-width: 1000px;
}

#links {
    display:flex;
    margin: 20px 0;
    gap : 10px;
}