section {
    margin : 10px 10px;
    display: flex;
        justify-content: center;
        flex-direction:column;
        align-items:center;
}

section > div {
    margin: 10px;
    width : 600px;


}

table {
    table-layout : fixed;
    width: 100%;
}

table, tr, td, th {

    border : 1px solid black;
    text-align : center;
    padding : 5px;
}

#ord-date {
    width : 180px;
}

#ord-no {
    width : 190px;
}

#ord-prod {
    width: auto;
}


.ord-date {

}

.ord-no {

}

.ord-prod.is-truncated:hover {
    cursor: zoom-in;
}

.ord-prod {
    /*width : 350px;*/

    overflow:hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ord-prod.expanded {
    overflow:visible;
    white-space: normal;
    text-overflow:clip;
}
