table {
    width: 100%;
    border-collapse: collapse;
table-layout: fixed;
}

table, th, td {
box-sizing: border-box;
    border : 1px solid black;

    text-align: center;
        vertical-align: middle;
}

/*.prod-info-row {
    height: 100px;

}*/

td, th {
   text-align : center;
   vertical-align : middle;
}

.th-img {
    width:150px;
}

.th-prod-name {
       width: 60%;
}


.td-img {
    width: 150px;
    height: 100px;
    overflow: hidden;
}

.td-img {
height: 100px;
       overflow: hidden;
}

.td-prod-name a{
    text-decoration:none;
    font-size: 20px;
}

.td-img a {
   width: 100%;
   height: 100%;
   display: block;

   line-height: 0;
   font-size: 0;
}

.prod-img {
    width: 100%;
    height: 100%;
    display:block;
}

