<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--<mapper namespace="org.example.myproject.stock.mapper.StockMapper">-->
<!--    <select id="selectStockQty" resultType="org.example.myproject.stock.dto.StockQtyDto">-->
<!--        SELECT-->
<!--        prod_no,-->
<!--        prod_name,-->
<!--        stock_qty-->
<!--        FROM-->
<!--        product_master-->
<!--        WHERE-->
<!--        prod_no IN (#{StockQtyDto.prodNo}})-->
<!--        AND-->
<!--        stock_qty < (#{}})-->

<!--        FOR UPDATE;-->
<!--    </select>-->
<!--</mapper>-->

<mapper namespace="org.example.myproject.stock.mapper.StockMapper">
    <select id="selectStockQty" resultType="org.example.myproject.stock.dto.StockQtyDto">
        SELECT
        prod_no,
        prod_name AS prodNames, stock_qty
        FROM
        product_master
        WHERE
        prod_no IN
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        FOR UPDATE;
    </select>

    <update id="decreaseStock">
        update product_master set stock_qty = stock_qty - #{stockQty} where prod_no = #{prodNo} and stock_qty >= #{stockQty};
    </update>

</mapper>