<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.myproject.product.mapper.ProductMapper">

    <select id="selectProductList" resultType="org.example.myproject.product.dto.ProductDto">
        select a.prod_no, a.prod_name, a.price, a.stock_qty, a.crt_dt, a.del_dt, b.image_url, c.prod_no IS NOT NULL AS is_in_cart
        from product_master a
        left join product_image b on a.prod_no = b.prod_no AND b.is_main = 1
        left join order_cart c on a.prod_no = c.prod_no AND c.user_id = #{userId}
        where a.del_yn = 0
        <if test="title != '' and title != null">
            AND prod_name LIKE CONCAT('%', #{title}, '%')
        </if>
        limit #{pageSize} offset #{offset};
    </select>

    <!--    <select id="selectProductDetail" parameterType="string" resultType="org.example.myproject.product.model.ProductDetailDto">-->
    <!--        select a.prod_no, a.prod_name, a.price, a.stock_qty, a.crt_dt, a.del_dt,-->
    <!--        b.image_url-->
    <!--        from product_master a-->
    <!--        left join product_image b on a.prod_no = b.prod_no-->
    <!--        where a.del_yn = 'N' and a.prod_no = #{prodNo}-->
    <!--    </select>-->

    <select id="selectProductDetail" resultMap="ProductDetailMap" parameterType="string">
        select a.prod_no, a.prod_name, a.price, a.stock_qty, a.crt_dt, a.del_dt, a.sales_dt,
        b.image_url, b.is_main, b.sort_order, c.detail_desc, c.notice, c.shipping_info, c.additional_info
        from product_master a
        left join product_image b on a.prod_no = b.prod_no
        left join product_detail c on a.prod_no = c.prod_no
        where a.del_yn = 0 and a.prod_no = #{prodNo}
        order by b.sort_order
    </select>

    <resultMap id="ProductDetailMap" type="org.example.myproject.product.dto.ProductDetailDto">
        <id property="prodNo" column="prod_no" />
        <result property="prodName" column="prod_name" />
        <result property="price"    column="price" />
        <result property="stockQty" column="stock_qty" />

        <result property="salesDt"    column="sales_dt" />

        <result property="crtDt"    column="crt_dt" />
        <result property="delDt"    column="del_dt" />

        <result property="detailDesc" column="detail_desc" />
        <result property="notice" column="notice" />
        <result property="shippingInfo" column="shipping_info" />
        <result property="additionalInfo" column="additional_info" />

        <!-- imageUrl은 리스트니까 collection 사용 -->
        <collection property="imageList" ofType="org.example.myproject.product.dto.ProductImageDto">
            <result property="imageUrl" column="image_url" />
            <result property="isMain" column="is_main" />
            <result property="sortOrder" column="sort_order" />
        </collection>

    </resultMap>

    <select id="selectProductPrice" resultType="org.example.myproject.product.dto.ProductPriceDto">
        SELECT prod_no, price
        FROM product_master
        WHERE prod_no IN
        <foreach collection="prodNos" item="prodNo" open="(" separator="," close=")">
            #{prodNo}
        </foreach>
    </select>

    <select id="selectProductCount" resultType="int">
        SELECT count(*)
        FROM product_master
        WHERE del_yn = 0
        <if test="title != null and title != ''">
            AND prod_name LIKE CONCAT('%', #{title}, '%')
        </if>
    </select>


    <select id="selectNowOrdProduct" resultType="org.example.myproject.product.dto.ProductDto">
        select * from product_master WHERE prod_no = #{prodNo};
    </select>

</mapper>
