<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>
    <Loggers>
<!--        <Root level="info">-->
        <Root level="debug">
            <AppenderRef ref="Console"/>
        </Root>

        <!--  SQL 로그 출력  -->

        <Logger name="org.example.myproject" level="debug" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.apache.ibatis" level="debug" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="org.mybatis.spring" level="debug" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="java.sql" level="debug" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>
        <!-- 본인 매퍼 패키지 -->
        <Logger name="org.example.myproject.product.mapper" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.example.myproject.order.mapper" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="org.example.myproject.auth.mapper" level="debug" additivity="true">
            <AppenderRef ref="Console"/>
        </Logger>

    </Loggers>

</Configuration>