<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.myproject.order.mapper.OrderMapper">
    <insert id="insertOrderMaster" parameterType="org.example.myproject.order.dto.OrderDto">
        insert into order_master
        (order_no, user_id, total_amount)
        values
        (#{order.orderNo}, #{order.userId}, #{order.totalAmount});
    </insert>


    <insert id="insertOrderDetail" parameterType="org.example.myproject.order.dto.OrderDetailDto">
        insert into order_detail
        (order_no, prod_no, qty, price)
        values
        (#{order.orderNo}, #{order.prodNo}, #{order.qty}, #{order.price})
    </insert>

</mapper>