<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.myproject.order.mapper.OrderMapper">
    <insert id="insertOrderMaster" parameterType="org.example.myproject.order.dto.OrderDto">
        insert into order_master
        (order_no, user_id, total_amount, total_price)
        values
        (#{order.orderNo}, #{order.userId}, #{order.totalAmount}, #{order.totalPrice});
    </insert>


    <insert id="insertOrderDetail" parameterType="org.example.myproject.order.dto.OrderDetailDto">
        insert into order_detail
        (order_no, prod_no, qty, price)
        values
        (#{order.orderNo}, #{order.prodNo}, #{order.qty}, #{order.price})
    </insert>

    <insert id="insertOrderDetailBulk">
        INSERT INTO order_detail (order_no, prod_no, qty, price)
        VALUES
        <foreach collection="list" item="order" separator=",">
            (
            #{order.orderNo},
            #{order.prodNo},
            #{order.qty},
            #{order.price}
            )
        </foreach>
    </insert>

    <select id="orderList" resultType="org.example.myproject.order.dto.OrderListDTO">
        with ranked_products as (
        select
        a.order_no as order_no,
        a.order_date as order_date,
<!--        DATE_FORMAT(a.order_date, '%Y-%m-%d %H:%i:%s') as order_dt_formatted,-->
        c.prod_name as prod_name,
        a.user_id as user_id,
        row_number() over (
        partition by a.order_no
        order by c.price desc, b.prod_no asc
        ) as rn
        from order_master as a
        inner join order_detail as b on a.order_no = b.order_no
        inner join product_master as c on b.prod_no = c.prod_no
        )
        select
        order_no,
        order_date,
        prod_name,
        user_id
        from ranked_products
        where rn = 1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="userId == null">
            and user_id IS NULL
        </if>
        limit ${pageSize} offset ${offset};
    </select>


    <select id="selectOrdListCount" resultType="int">
        select count(*), user_id
        from order_master
        where user_id = #{userId};
    </select>

    <!-- 테스트용 -->
    <select id="selectCountByOrderNo" resultType="int">
        select count(*)
        from order_master
        where order_no = #{orderNo}
    </select>

    <select id ="productStockList" resultType="org.example.myproject.stock.dto.StockQtyDto">
        select prod_no, prod_name, stock_qty
        from product_master
        where prod_no in
        <foreach item="prodNo" collection="prodNos" open="(" separator="," close=")">
             #{prodNo}
        </foreach>
    </select>


    <select id="selectOrderNum" resultType="String">
        select * from order_master where order_no = #{orderNo}
    </select>

    <select id="selectOrderInfo" resultMap="OrderInfoWithProductsMap">
        select a.order_no, b.prod_no, c.prod_name, a.user_id, a.order_status, a.payment_method, a.total_amount, a.order_date, a.total_price
        from order_master as a
        Inner JOIN order_detail as b on a.order_no = b.order_no
        Inner JOIN product_master as c on b.prod_no = c.prod_no
        Inner JOIN product_image as d on d.prod_no = c.prod_no
        where a.user_id = #{userId} and a.order_no = #{orderNo};
    </select>


    <resultMap id="OrderInfoWithProductsMap"  type="org.example.myproject.order.dto.OrderInfoDto">
        <id property="orderNo" column="order_no" />
        <result property="userId" column="user_id" />
        <result property="orderStatus" column="order_status" />
        <result property="paymentMethod" column="payment_method" />
        <result property="totalAmount" column="total_amount" />
        <result property="orderDate" column="order_date" />
        <result property="totalPrice" column="total_price" />

        <collection property="productDtos" ofType="org.example.myproject.product.dto.ProductDto">
            <result property="prodNo" column="prod_no"/>
            <result property="prodName" column="prod_name"/>

            <!-- productDto에 차라리 imageList를 추가했어야 했는 듯. 초기 설계 미스? 고민 필요. -->
            <!--<collection property="productImageDtoList" ofType="org.example.myproject.product.dto.ProductImageDto">
                <result property="imageUrl" column="image_url" />
                <result property="isMain" column="is_main" />
                <result property="sortOrder" column="sort_order" />
            </collection>-->

        </collection>
        
    </resultMap>


    <select id="select"

</mapper>