<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.myproject.order.mapper.OrderMapper">
    <insert id="insertOrderMaster" parameterType="org.example.myproject.order.dto.OrderDto">
        insert into order_master
        (order_no, user_id, total_amount)
        values
        (#{order.orderNo}, #{order.userId}, #{order.totalAmount});
    </insert>


    <insert id="insertOrderDetail" parameterType="org.example.myproject.order.dto.OrderDetailDto">
        insert into order_detail
        (order_no, prod_no, qty, price)
        values
        (#{order.orderNo}, #{order.prodNo}, #{order.qty}, #{order.price})
    </insert>

    <insert id="insertOrderDetailBulk">
        INSERT INTO order_detail (order_no, prod_no, qty, price)
        VALUES
        <foreach collection="list" item="order" separator=",">
            (
            #{order.orderNo},
            #{order.prodNo},
            #{order.qty},
            #{order.price}
            )
        </foreach>
    </insert>

    <select id="orderList" resultType="org.example.myproject.order.dto.OrderListDTO">
        with ranked_products as (
        select
        a.order_no as order_no,
        a.order_date as order_date,
<!--        DATE_FORMAT(a.order_date, '%Y-%m-%d %H:%i:%s') as order_dt_formatted,-->
        c.prod_name as prod_name,
        a.user_id as user_id,
        row_number() over (
        partition by a.order_no
        order by c.price desc, b.prod_no asc
        ) as rn
        from order_master as a
        inner join order_detail as b on a.order_no = b.order_no
        inner join product_master as c on b.prod_no = c.prod_no
        )
        select
        order_no,
        order_date,
        prod_name,
        user_id
        from ranked_products
        where rn = 1
        <if test="userId != null">
            and user_id = #{userId}
        </if>
        <if test="userId == null">
            and user_id IS NULL
        </if>
        limit ${pageSize} offset ${offset};
    </select>


    <select id="selectOrdListCount" resultType="int">
        select count(*), user_id
        from order_master
        where user_id = #{userId};
    </select>

    <!-- 테스트용 -->
    <select id="selectCountByOrderNo" resultType="int">
        select count(*)
        from order_master
        where order_no = #{orderNo}
    </select>

    <select id ="productStockList" resultType="org.example.myproject.stock.dto.StockQtyDto">
        select prod_no, prod_name, stock_qty
        from product_master
        where prod_no in
        <foreach item="prodNo" collection="prodNos" open="(" separator="," close=")">
             #{prodNo}
        </foreach>
    </select>

</mapper>