<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.myproject.auth.AuthMapper">
    <select id="selectUserInfo" resultType="org.example.myproject.auth.AuthDTO">
        SELECT
            user_id,
            user_pw,
            nickname,
            roles,
            email,
            profile_image_url
        FROM usermst
        WHERE user_id = #{username}
    </select>


    <insert id="signUpUser" parameterType="org.example.myproject.auth.AuthDTO">
        insert into usermst
            (
             user_id,
             user_pw,
             nickname,
             email,
             profile_image_url,
             roles)
        values (#{username}, #{password}, #{nickname} , #{email}, null, #{roles});
    </insert>

</mapper>