<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.myproject.user.UserMapper">
    <select id="selectUserInfo" resultType="org.example.myproject.user.UserDTO">
        SELECT
            user_id,
            user_pw,
            nickname,
            roles,
            email,
            profile_image_url
        FROM usermst
        WHERE user_id = #{user_id}
    </select>
</mapper>