<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.myproject.cart.mapper.CartMapper">

    <!-- 우선 정렬부터 구현 후 나중에 구현 할 것. -->
    <insert id="addToOrderCart" parameterType="map" useGeneratedKeys="true" keyProperty="cartNo">
        INSERT INTO order_cart (user_id, prod_no, qty, crt_dt)
        VALUES (#{userId}, #{prodNo}, #{qty}, NOW())
    </insert>

    <delete id="deleteCart">
        DELETE FROM order_cart where cart_no = ${cartNo}
    </delete>

    <select id="selectOrderCartItemsById" resultType="org.example.myproject.cart.dto.CartDto">
        SELECT *
        FROM order_cart
        WHERE cart_no IN
        <foreach collection="cartNos" item="cartNo" open="(" separator="," close=")">
            #{cartNo}
        </foreach>
    </select>

    <!-- 카트 리스트 조회 -->
    <select id="selectOrderCartList" resultType="org.example.myproject.cart.dto.CartDto">
        SELECT a.cart_no, a.user_id, a.prod_no, a.qty, a.crt_dt, a.upd_dt, a.del_yn, a.del_dt,
        b.prod_name
        FROM order_cart a
        LEFT JOIN product_master b
        ON a.prod_no = b.prod_no
        WHERE (a.del_yn = 0 OR a.del_yn IS NULL)
<!--        AND user_id = #{userId}-->

        <if test="userId != null">
            AND a.user_id = #{userId}
        </if>
        <if test="userId == null">
            AND a.user_id IS NULL
        </if>

        <choose>
            <when test="orderColumn == 'prod_name'">
                ORDER BY b.prod_no ${orderType}
            </when>
            <when test="orderColumn == 'qty'">
                ORDER BY a.qty ${orderType}
            </when>
            <otherwise>
                ORDER BY a.cart_no ${orderType}
            </otherwise>
        </choose>
    </select>

    <select id="chkCartItem" resultType="org.example.myproject.cart.dto.ChkCartItemDto">
        select cart_no, user_id, prod_no from order_cart where cart_no = ${cartNo};
    </select>

    <!--    <when test="orderColumn == 'prodNo'">-->
    <!--        ORDER BY b.prod_no-->
    <!--        <if test="orderType == 'asc'"> ASC </if>-->
    <!--        <if test="orderType == 'desc'"> DESC </if>-->
    <!--    </when> SQL 인젝션 방지 차 고려. -->

    <select id="isInCart" resultType="boolean">
        SELECT COUNT(*) FROM order_cart
        <where> AND prod_no = #{prodNo} <if test="userId != null">
            AND user_id = #{userId}
        </if>
            <if test="userId == null">
                AND user_id IS NULL
            </if>
        </where>
    </select>

</mapper>
