main {
    margin : 16px;
    height : 100%;
    display: flex;
    flex-direction:column;
}

section {
    margin : 16px;
    border : 1px solid black;
    height : 100%;
    flex: 1;
}

section > div {
    width : 100%;

}

.image-container {
    border : 1px solid black;
}