body {

}

body > div {
    margin:auto;
    width: 500px;
    border : 1px solid black;
    padding : 50px;

    flex-shrink: 0;
}

body > div > form {
    display:flex;
    flex-direction: column;
    align-items: center;
}




body > div > form > div {
    /*margin-bottom : 10px;*/
    margin : 0 10px 10px 10px;
}

label {
    display:flex;
    align-items:center;
    width: 100%;
    margin: 10px;
}

i {
    font-size: 30px;
}

#input-user-info {
    display:flex;
    width: 100%;
    margin: 20px;
    flex-direction: column;
    align-items:center;
}

#id-input {
    width: 100%;
    margin-left:10px;
    padding : 10px 5px;

}

#pass-input {
    width: 100%;
    margin-left:10px;
    padding : 10px 5px;
}


