section {
  overflow-x : scroll;
  scrollbar-width: none;
}

section::-webkit-scrollbar {
    display: none;
}

.div-prod {
    border-radius:5px;
    background-color: #f5f7fa;
    /* height: 350px; */
    display:flex;
    align-items:center;
    width: fit-content;
    text-align: center;
}

.div-prod-parent {
    display: flex;
    justify-content: center;
}

.in-cart-btn {
    opacity : 0.5;
}

.ul-prod {
    display:flex;
        gap : 5px;
        width: fit-content;

}

.ul-prod > li {
    /* li의 기본 마진을 유지하면서 col-*의 너비를 대체 */
    flex-shrink: 0;
    flex-grow: 0;

    /* 1. li의 너비를 고정 값으로 설정 (예: 150px) */
    width: 140px;
    height: fit-content;
    /* 2. 또는 Flexbox를 사용하여 유연하게 설정 */
    /* flex-basis: 150px; */
}

.product-title-container {

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;

    overflow : hidden;
    text-overflow: ellipsis;
    height: 2.6rem;
    margin-bottom: 0;
}

.product-info-container .card-text {
    font-size: 0.9rem;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}



.card-body button {
    min-height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;

    overflow: hidden;
    text-overflow: ellipsis;
}

.rank-no {
    border-radius:5px;
    margin-bottom : 5px;
    color: #333;
}

/* 1위 골드 */
.rank-gold {
    background-color: #FFD700;
    color: #333;
}

/* 2위 실버 */
.rank-silver {
    background-color: #C0C0C0;
    color: #333;
}

/* 3위 브론즈 */
.rank-bronze {
    background-color: #CD7F32;
    color: #333;
}

.prod-list-title {
    width: 100%;
    background-color:#f5f7fa;
    margin-bottom : 10px;
    font-weight: bold;
    font-size: 1.5rem;
    color : #212529;
}

.div-prod-list {
width: fit-content;
}