main {
    margin : 16px;
    height : 100%;
    display: flex;
    flex-direction:column;
}

section {
    margin : 16px;
    border : 1px solid black;
    /* height : 100%; */
    /* display : flex; */
    flex :1;
    display:flex;
}

.main-image-container {
    border : 1px solid black;
    width : 560px;
    height : 450px;
    padding : 3px;
    overflow : hidden;

}

.main-image-container img {
    width : 100%;
    height: 100%;
    object-fit: cover;
}

/* ----- 제품 세부 ----- */

.info-title {
    border-bottom : solid 3px #000;
    box-shadow : 0 3px 0 0 #ccc;
    padding : 0 0 3px 5px;
    margin : 20px 0 3px 0;
}

.product-detail h2 {
    font-size : 18px;
    font-weight : bold;
    color : #828282;
}


.info-container {
    flex: 1; /* 남은 공간만 차지 */
}


.sub-list {
    gap : 10px;
    display : flex;
    padding : 0;
    margin : 0;
}

.sub-list li img {
    width: 100%;
    height : 100%;
    object-fit: cover;
}

.image-sub-container {
    /* border : 1px solid black; */
    height: 155px;
    padding : 5px;
    display : flex;
    align-items: center;
    background-color : #eee;
}

.image-sub-container ul li {
    width: 150px;
    height: 120px;

}

#basic-info table {
    border-collapse : separate;
    border-spacing : 0 8px;
}

.sub-list > li {

}

.sub-list {
    display : flex;
    position:relative;
    list-style-type: none;

}

/* 기본 정보 */
#basic-info {
    /* border-top : dotted 2px #aaaaaa; */
    /* padding : 5px; */
}

/* 상세 정보 */
#prod-detail {
   white-space:white-wrap;
}

#notice {

}

.info-sub-container {
    padding : 5px;
}


/* order-container*/

.order-container {
    padding : 5px;
    border : 1px solid black;
    display: flex;
    flex-direction: column;
}
.qtyBtn {
    display: flex;
}


/*orderBtn {
    display: block;
}*/