.in-cart-btn {
    opacity : 0.5;
}

.filter {
    display : flex;
    align-items : center;
    justify-content : space-between;
    margin-bottom : 10px;
    border-bottom : 1px solid #b7bed0;
    padding-bottom : 10px;
}

.btn-group {
    align-items : center;
}


#search-container {
    display:flex;
    gap : 6px;
    align-items:center;
    justify-content:center;
}

.search-title-btn {
    /* border: 1px solid #969696; */
     background-color:#0d6efd;
     color :#ffffff;
     border: none;
     border-radius:3px;
     padding : 3px 5px;
}

.search-title-btn:hover {
    filter: brightness(90%);
}

.product-image {
    height: 100%;
}

.search-title {
    border: 1px solid #969696;
}

.btn-group ul {
    display: flex;
    margin: 0px;
        padding-left:3px;
}

.btn-group ul li {
    list-style-type: none;
    margin-left: 3px;

}

.btn-group ul li a {
    padding : 5px 5px 5px 5px;
    font-size : 12px;
    min-width : 36px;
    height: 36px;
    text-align:center;
    line-height: 36px;
    display: flex;
    align-items:center;
justify-content: center;
}

#product-info-container {
    margin: 10px 0;
}

#product-image-container {
    height:250px;

}

#product-title-container {
    height: 50px;
}