.in-cart-btn {
    opacity : 0.5;
}

main {
    margin : 16px;
    height : 100%;
    display: flex;
    flex-direction:column;
}

section {
    margin : 16px;
    border : 1px solid black;
    /* height : 100%; */
    /* display : flex; */
flex-grow: 1;    /* 남은 세로 공간을 채우되, */
    flex-basis: auto; /*  높이의 기본값은 내용물 크기로 설정 */
    flex-shrink: 1;  /* 공간 부족 시 줄어들 수 있도록 허용 */
    display:flex;
    align-items:flex-start;
}




.image-container {
    width: 50%;
    min-width: 500px;
    flex-shrink: 0;
}

.main-image-container {
    border : solid 1px #eee;
    width: 100%;
    height : 450px;
    padding : 3px;
    overflow : hidden;

    display:flex;
    justify-content: center;

}

.main-image-container img {
    width : 100%;
    /* max-width : 560px; */
    max-height : 450px;
    height: 100%;
    object-fit: cover;

}

#basic-info-container {
    /* width: 1000px; */
    width: 50%;
    flex-shrink: 1;
}

#basic-info-container  {

}

.qtyBtn > button {
        text-align:center;
        width:30px;
        height: 30px;
        border : 1px solid black;
}

.qty::-webkit-outer-spin-button,
.qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ----- 제품 세부 ----- */

.info-title {
    border-bottom : solid 3px #000;
    box-shadow : 0 3px 0 0 #ccc;
    padding : 0 0 3px 5px;
    margin : 20px 0 3px 0;
}

.product-detail {
    width: 100%;
}

.product-detail h2 {
    font-size : 18px;
    font-weight : bold;
    color : #828282;
}


.info-container {
    flex: 1; /* 남은 공간만 차지 */
    display: flex;
    /* flex-direction: column; */
    flex-wrap : wrap;

    flex-shrink: 0; /* ❗ (수정) detail-container가 좁아질 때 함께 줄어들지 않게 함 */
        min-width: min-content; /* 내부 콘텐츠의 최소 크기에 맞춤 (선택적: 브라우저 호환성 주의) */

}


.sub-list {
    gap : 10px;
    display : flex;
    padding : 0;
    margin : 0;
}

.sub-list li img {
    width: 100%;
    height : 100%;
    object-fit: cover;
}

.image-sub-container {
    /* border : 1px solid black; */
    height: 155px;
    padding : 5px;
    display : flex;
    align-items: center;
    background-color : #eee;
}

.image-sub-container ul li {
    width: 150px;
    height: 120px;

}

#basic-info-container table {
    border-collapse : separate;
    border-spacing : 0 8px;
}


.sub-list > li {

}

.sub-list {
    display : flex;
    position:relative;
    list-style-type: none;

}

/* 기본 정보 */
#basic-info-container {
    /* border-top : dotted 2px #aaaaaa; */
    /* padding : 5px; */
}

#basic-info-header {
    border-bottom : 1px dashed #999;
    margin-bottom : 10px;
}

/* 상세 정보 */
#prod-detail {
   white-space:white-wrap;
}

#notice {

}

.info-sub-container {
    padding : 5px;
}


/* order-container*/

.order-container {
    padding : 5px;
    border : 1px solid black;
    display: flex;
    flex-direction: column;

    width: 260px;
    flex-shrink: 0;
    height: 100%;
}
.qtyBtn {
    display: flex;
    justify-content:center;
    align-items:center;
}

.order-container div {
    margin: 5px auto;
}
/*orderBtn {
    display: block;
}*/